#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.beack-path{
    grid-column: 1/3;
    grid-row: 1/2;
}
h1{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 1;
}
aside{
    grid-column: 3/4;
    grid-row: 1/3;
}