@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
  display: flex;
  max-height: 100px;
}

.logo {
  width: 80px;
  border-radius: 5%;
  margin: 25px;
}

nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
}

nav a {
  justify-content: center;
  align-items: center;
  background-color: #f5a6e6;
  color: black;
  text-decoration: none;
  padding: 35px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 5px;
}

nav a:hover{
    background-color: #b84a62;
    color: black;
}

#hero-box{
  width: 100%;
  text-align: center;
}

#hero-img{
  height: 300px;
  margin-top: 40px;
  border-radius: 20px;
}

h1{
    text-align: center;
    color: white;
}

h4{
    text-align: center;
    color: white;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.home-grid p{
    max-width: 500px;
    color: white;
    padding: 20px;
}

main img{
    border-radius: 20px;
}

.home-line-up {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 400px;
  justify-self: center;
  align-self: center;
}

.home-p-what {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  background-color: #ac7b84;
  justify-self: center;
  align-self: center;
  border-radius: 5%;
  max-height: 100%;
}

.home-areana {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 400px;
  justify-self: center;
  align-self: center;
}

.home-p-why{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: #ac7b84;
    max-height: 100%;
    border-radius: 5%;

}

.home-bayblades-pieces{
    grid-column: 1/2;
    grid-row: 3/4;
    max-width: 400px;
    justify-self: center;
    align-self: center;
}

.home-p-how{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #ac7b84;
    text-align: center;
    justify-self: center;
    align-self: center;
    max-height: 100%;
    border-radius: 5%;
}

body{
    background-color: #54457f;
    font-family: "Poppins", serif;
}

footer{
    background-color: #ac7b84;
    color: white;
    padding: 25px 50px;
    margin-top: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

footer img{
  border-radius: 25%;
}

#fot-links{
    background-color: #f5a6e6;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

#fot-links:hover{
    background-color: #b84a62;
    color: black;
    text-decoration: underline;
}

/* history page */

.history-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.history-grid p{
  width: 500px;
  color: white;
}

.history-p1{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #ac7b84;
  text-align: center;
  justify-self: center;
  align-self: center;
  max-height: 100%;
  border-radius: 5%;
  padding: 20px;
}

.history-poster{
  justify-self: center;
  align-self: center;
}

.history-pngGuy{
  justify-self: center;
  align-self: center;
}


/* now */



.now-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.now-grid p{
  width: 500px;
  color: white;
}

.now-p1{
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #ac7b84;
  text-align: center;
  justify-self: center;
  align-self: center;
  max-height: 100%;
  border-radius: 5%;
  padding: 20px;
}

.now-launcher{
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.now-p2{
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #ac7b84;
  text-align: center;
  justify-self: center;
  align-self: center;
  max-height: 100%;
  border-radius: 5%;
  padding: 20px;
}

.now-assembly{
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}
